<nav class="mod-navi">
  <h2><%= t('riken.payment.main') %></h2>
  <h3><%= link_to t("riken.payment.setting"), gws_riken_payment_setting_path %></h3>
  <h3><%= link_to t('riken.payment.workflow_sample'), gws_riken_payment_workflow_samples_path %></h3>
</nav>

<%= render partial: 'gws/main/conf_navi' %>
