<%= node_navi do %>

<nav class="sub-menu">
  <header><h1><%= t "garbage.garbage" %></h1></header>
  <div>
    <%= link_to :"garbage.page", garbage_pages_path, class: "icon-node" %>
  </div>
</nav>

<% end %>
