<% controller.javascript "/assets/js/jquery.colorbox.js" %>
<% controller.stylesheet "/assets/css/colorbox/colorbox.css" %>

<%= jquery do %>
$(window).on("load", function(){ $(".ajax-box").colorbox(); });
<% end %>

<article class="photo">
  <%= link_to @cur_page.image.url, class: "ajax-box", onclick: "return false;" do %>
    <%= image_tag @cur_page.image.thumb_url.sub(/\/thumb\//, "/thumb/detail/") %>
  <% end %>
  <div class="caption"><%= @cur_page.caption %></div>
</article>
