<div class="index portal-searches">
  <form method="get">
    <div>
      <input name="s" type="text">
      <button type="submit" class="btn">検索</button>
    </div>
    <div>
      <label><input name="kind" type="radio" checked>メンバー</label>
      <label><input name="kind" type="radio">対応履歴</label>
    </div>
  </form>
</div>
