<div class="member-blogs blogs">
  <%= "#{@cur_member.name}さん" %>
</div>

<p><%= link_to "ブログ", "./blog/" %></p>
<p><%= link_to "写真データベース", "./photo/" %></p>
<p><%= link_to "対応履歴管理", "./history/" %></p>
