<% if @error.present? %>
  <%= render 'error' %>
<% end %>

<div class="index" style="width: 100%; overflow-x: auto; padding: 10px;">
  <%= render 'list_head' %>

  <% if @result.present? %>
    <%= render 'result' %>
  <% end %>
</div>

<%= jquery do %>
  $(".data-table").dataTable();
<% end %>
