<%= form_for(:item, url: @cur_part.search_url, method: "get", html: { class: 'design-book-search' }) do %>
  <div class="design-book-number nodes">
    <section id="necessary">
      <header><h2><%= t('design_book.page') %></h2></header>
      <%= text_field_tag :search_design_book_number, @design_book_number, maxlength: 10 %>
      <%= submit_tag t('event.submit.search'), name: nil %>
    </section>
  </div>
<% end %>
