<% attribute_names = nil %>
<div class="index" style="width: 100%; overflow-x: auto; padding: 10px;">
  <table class="data-table">
    <% Riken::MS365::GraphApi.each_room(@cur_site, room_list_id: params[:room_list_id].presence) do |entry| %>
      <% if attribute_names.blank? %>
        <% attribute_names = entry.keys %>
        <thead>
        <tr>
          <% attribute_names.each do |attribute| %>
            <th><%= attribute %></th>
          <% end %>
        </tr>
        </thead>
        <tbody>
      <% end %>
      <tr>
        <% attribute_names.each do |attribute| %>
          <td data-attr="<%= attribute %>"><%= entry[attribute] %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= jquery do %>
  $(".data-table").dataTable();
<% end %>
