<% return if @node.nil? %>
<% return if @cur_part.site_search_keywords.blank? %>

<%== @cur_part.upper_html if @cur_part.upper_html.present?  %>
<ul>
  <% @cur_part.site_search_keywords.each do |keyword| %>
    <% url = @node.url + "?" + { s: { keyword: keyword } }.to_query %>
    <li><%= link_to keyword, url, rel: :nofollow, class: keyword %></li>
  <% end %>
</ul>
<%== @cur_part.lower_html if @cur_part.lower_html.present? %>
