<%= node_navi do %>

<nav class="sub-menu">
  <header><h1><%= t "circle.circle" %></h1></header>
  <div>
    <%= link_to :"circle.location.name", circle_locations_path, class: "icon-node" %>
  </div>

<% end %>

