<%
  @cur_node = @bookmark_node
  @cur_node.attributes = @mypage_node.blog_context
  @items = @blog_bookmarks.limit(@cur_node.limit).to_a
%>
<section class="blog">
  <%= render_page_list %>
</section>
