<%= node_navi do %>

<nav class="sub-menu">
  <header><h1><%= t "circle.circle" %></h1></header>
  <div>
    <%= link_to :"circle.page", circle_pages_path, class: "icon-node" %>
  </div>
</nav>

<% end %>
