<nav class="mod-navi">
  <h2><%= t "modules.guide" %></h2>

  <% if Guide::Procedure.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t("guide.procedure"), guide_procedures_path %></h3>
    <h3><%= link_to t("guide.question"), guide_questions_path %></h3>
  <% end %>
</nav>

<%= render partial: "cms/main/conf_navi" %>
