<p>1. 手続きのインポート</p>

<%= link_to t("ss.buttons.download"), { action: :download_procedures } %>

<br>

<p>2. 質問と選択肢インポート</p>

<%= link_to t("ss.buttons.download"), { action: :download_questions } %>

<br>

<p>3. 選択のインポート</p>

<%= link_to t("ss.buttons.download"), { action: :download_transitions } %>

<br>
