<%
  @cur_node = @mypage.child_event_node
  return if @cur_node.blank?

  @cur_node.attributes = @mypage.event_context
  @items = Cms::Page.public_list(site: @cur_site, node: @cur_node, date: @cur_date).
    where(@cur_member.deliver_category_conditions).
    limit(@cur_node.limit)
%>
<section class="events">
  <%= render_page_list %>
</section>
