<% return "" unless @cur_user %>

<% @item = @cur_page || @cur_node %>
<% if @item.additional_secret_info.present? %>
  <table class="see mod-additional-secret-info">
    <% @item.additional_secret_info.each do |info| %>
    <tr>
      <th><%=br info[:field] %></th>
      <td><%=br info[:value] %></td>
    </tr>
    <% end %>
  </table>
<% end %>

