<nav class="mypage-nav nav-menu">
  <% if params[:action] =~ /index/ %>
    <%= link_to @mypage_node.name, @mypage_node.url if @mypage_node %>
    <%= link_to "#{@cur_node.name}を編集する", "#{@cur_node.url}edit" %>
    <%= link_to t("member.links.leave"), "#{@cur_node.url}leave" %>
  <% else %>
    <%= link_to t('ss.links.back'), @cur_node.url %>
  <% end %>
</nav>
