<%= node_navi do %>

<nav class="sub-menu">
  <header><h1><%= t "garbage.garbage" %></h1></header>
  <div>
    <%= link_to :"garbage.category.name", garbage_categories_path, class: "icon-node" %>
  </div>

<% end %>
