<%= jquery do %>
<<<<<<< HEAD
$('#item-form footer.send').prepend(
  '<div class="footer-notice"><%= I18n.t("cms.confirm.check_accessibility_manually") %></div>'
);
=======
  $('#item-form').submit(function(){
    if($('#item_name').val() && $('#item_basename').val()) {
      alert(`<%= I18n.t('cms.confirm.check_accessibility_manually') %>`);
    }
  });
>>>>>>> a3bf8504d ([add] cms/form/db)
<% end %>
<%= render template: 'ss/crud/edit' %>
